.row1 {
    display: grid;
    grid-template-columns: 10% 60% 7% 7% 7% 9% ;
}
.row1 img{
    margin: auto;
    width:70%;
    display: block;
    
}
text1{
    margin: auto;
}
.row2 img{
    width: 100%;
}
.row2 .text{
    position: absolute;
    width: 70%;
    font-size:130% ;
    color: aliceblue;
    padding-left: 30%;
    
}
.row2 h1{
    margin-bottom: 5px;
}
.row2 div{
    padding-left: 5%;
}
.row4{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.row4 img{
width: 95%;
border-radius: 10px;
overflow: hidden;
margin-top: 3%;
}
divNgoc{
    
    margin: auto;
    width: 104%;
    
}
.row5 {
    display: grid;
    grid-template-columns: 66% 34%;
}
body{
    overflow-x: hidden;
}





