.row1 {
    display: grid;
    grid-template-columns: 10% 50% 10% 10% 10% 10% ;
}
.row1 img{
    margin: auto;
    width:100%;
    display: block;
    
}
text1{
    margin: auto;
}
.row2 img{
    width: 100%;
}
.row4{
    display: grid;
    grid-template-columns: 33% 33% 34%;
}
.row4 img{
width: 95%;
display: block;
border-radius: 8%;
margin: 11%;

}



